ConnectionStrings__DefaultConnection=Server=<host>,1433;Database=<db>;User Id=<user>;Password=<password>;Encrypt=False;TrustServerCertificate=True;MultipleActiveResultSets=True
Services__PersonCustomer__BaseUrl=http://localhost:5046
